svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

svg .draw{
    stroke: #000;
    stroke-width: 1px;
    font-size: 40px;
    fill: transparent;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: animate 5s linear 1 forwards;
}

@keyframes animate
{
    to
    {
        stroke-dashoffset: 50;
    }
}

img {
  width: 250px;
  aspect-ratio: 1;
  object-fit: cover;
  --_m: radial-gradient(#000 69%,#0000 70%) 84.5%/50%;
  -webkit-mask-box-image: var(--_m);
             mask-border: var(--_m);
  clip-path: polygon(-41% 0,50% 91%, 141% 0);
}

/* fallback until better support for mask-border */
@supports not (-webkit-mask-box-image: var(--_m)) { 
  img {
   --_m:
     radial-gradient(at 70% 31%,#000 29%,#0000 30%),
     radial-gradient(at 30% 31%,#000 29%,#0000 30%),
     linear-gradient(#000 0 0) bottom/100% 50% no-repeat;
   -webkit-mask: var(--_m);
           mask: var(--_m);
  }
}

/* body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 30px;
  background: pink;
  filter: drop-shadow(0 0 10px #ff3e60)
} */

